# Ignore dataset
data/raw/
data/processed/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Models
models/
*.pkl
*.joblib

# VS Code
.vscode/

# Generated graph outputs
graph/output/

# PyTorch files
*.pt

# Logs
*.log

# Generated alerts
alerts/alerts.csv
alerts/alerts.json